/*resetear los estilos*/

*{
    margin: 0;
    padding: 0;
}

body{
/*estilo de fondo*/
background-color: #c9c9f5;
image-rendering: auto;
align-items: center;
    background-color: #8c8e8f;
    background-image: url(https://s03.s3c.es/imag/_v0/770x420/0/2/2/490x_ciberseguridad-defini.jpg);
    

/*tipo de letra*/
 
font-family: cursive Georgia, 'Times New Roman', Times, serif;
}

/*header*/
.titulo h1{
padding: 20px 0;
text-align: center;
font-size: 2,9em; 
 
text-transform: uppercase; 
}

.contenedor {
    background: #fff; /*fondo*/
    width: 90%;
    max-width: 1000px;
    margin: 1.6em auto; /*centro*/

    display: grid;/*organiza los elementos dentro del contendor*/
    gap: 1.6em; /*añadir un espacionado entre los contendores*/

    grid-template-columns: repeat(5,1fr);/*colocar las columnas */
}
/*separar los contenedores los contenedores*/

 
.contenedor > .segundo,
.contenedor > .contenido,
.contenedor > .footer,
.contenedor > div {
    background: #fff;
    padding: 20px;
    border: 1px solid #221042;
}
/*el contenido esta completo*/

.contenedor .sub,
.contenedor .footer{
    grid-column: 1/6;

    background: #18191f;
    color: #fff;
}

 

.contenedor >.contenido{
    grid-column: span 3;
}

.contenido > .articulo{
    background: #153757 ;
    padding: 20px;
    margin-top: 5px;
    color: #dfe6e9;
}

.contenido .articulo h1,
.contenido .articulo p{
    padding: 10px;
}

/*ocupada el segundo recuadro 2 */

.contenedor > .segundo{
    grid-column: span 2;
    background:rgb(226, 225, 212);
    color: #485460;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    
}

 
.contenedor > .post{
    background: #c1cacc;
    color: #ffff;
    height: 180px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease;
}
 
